body {
    background-color: aliceblue;
}

h1 {
    font: 26px Verdana;
    border: 1px dashed;
    border-radius: 15px;
    padding: 5px;
    text-align:center;
}

#cards {
    border: 1px dotted;
    width: 1000px;
    height: 400px;
    display: flex;
}

.card {
    border: 1px solid;
    width: 200px;
    height: 400px;
}

.changeMarked {
    background-color: red;
}

/* #betContainer {
    width: 200px;
    display: flex;
    align-items: center;
} */

#minus, #plus {
    font: 2rem verdana;
    cursor: pointer;
    /* padding-left: 10px;
    padding-right: 10px; */
}

#bet {
    font: 30px verdana;
    width: 3rem;
    text-align: center;
}

.card img {
    width: 100%;
}